@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --red:#22bf66;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

*::selection{
  background:var(--red);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body{
  background:#f7f7f7;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}

.heading span{
  color:var(--red);
}

.btn{
  display: inline-block;
  padding:.8rem 3rem;
  border:.2rem solid var(--red);
  color:var(--red);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before{
  content: '';
  position: absolute;
  top:0; right: 0;
  width:0%;
  height:100%;
  background:var(--red);
  transition: .3s linear;
  z-index: -1;
}

.btn:hover::before{
  width:100%;
  left: 0;
}

.btn:hover{
  color:#fff;
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#fff;
  padding:0.5rem 4%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}


header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#666;
}

header .navbar a{
  font-size: 2rem;
  display: inline-block;
  margin-left: 2rem;
  color:#666;
  position: relative;
}


header .navbar a::after{
  content: ' ';
  width: 0%;
  height: 2px;
  background: var(--red);
  border-radius: 3px;
  display: block;
  margin: auto;
}

header .navbar a:hover{
  color:var(--red);
}

header .navbar a:hover::after{
  color:var(--red);
  width: 100%;
  transition: 1s;
}




#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color:#666;
  border:.1rem solid #666;
  border-radius: .3rem;
  padding:.5rem 1.5rem;
  display: none;
}

/*------------- home ------------------*/

.home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 100vh;
  align-items: center;
  background:url(images1/1.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  flex:1 1 40rem;
  padding-top: 6.5rem;
}

.home .image{
  flex:1 1 40rem;
}

.home .image img{
  width:120%;
  padding:1rem;
  animation:float 3s linear infinite;
}

@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(3rem);
  }
}

.home .content h1{
  font-size: 9rem;
  color:#333;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home .content p{
  font-size: 1.7rem;
  color:#666;
  padding:1rem 0;
  font-size: 18px;
}

@media (max-width:1100px) {
  .home .content h1{
    font-size: 7rem;
  }

  .home .content p{
    font-size: 15px;
  }

  .home .image img{
    width:100%;
  }
}

@media (max-width:760px) {
  .home{
    display: inline-block;
  }

  .home .content{
    padding-top: 130px;
  }

  .home .image img{
    width: 80%;
  }

  
}

@media (max-width: 450px) {

  .home .content{
    padding-top: 130px;
  }

  .home .content h1{
    font-size: 6rem !important;
  }

  .home .image img{
    width: 100%;
  }

  
}


/* ----------- home end --------------------- */

  

/* -------------popular--------------------- */
.popular h1{
  font-size: 45px;
}

.popular .sub-heading{
  font-size: 30px;
  padding: 25px;
  color:rgb(74, 74, 74);
  text-align: center;
}

.popular .sub-heading1{
  font-size: 35px;
  padding: 25px;
  color:rgb(74, 74, 74);
  text-align: center;
}

.popular .sub-heading1::after{
  content: ' ';
  width: 10%;
  height: 4px;
  background: var(--red);
  border-radius: 3px;
  display: block;
  margin: auto;
  
}

.popular .section-work-data {
  background-image: linear-gradient(to right, var(--red) ,#68fb74);
  text-align: center;
  width: 123%;
  margin-left: -11%;
  padding: 50px;
  
}


.popular .section-work-data .grid{
  color: rgb(255, 254, 254);
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 20px;
}

.popular .section-work-data .grid .common-numbers {
  font-size: 5rem;
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
}

.popular .section-work-data p {
  color: rgb(0, 0, 0);
  padding-right: 50px;
  padding-left: 50px;
  font-weight: bold;
  font-size: 2.9rem;
}

.popular .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.popular .box-container .box{
  padding:2rem;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  text-align: center;
  flex:1 1 30rem;
  position: relative;
}

.popular .box-container .box img{
  height:25rem;
  object-fit: cover;
  width:100%;
  transition: transform .3s;
  border-radius: .5rem;
}

.popular .box-container .box img:hover{
  transform: scale(1.1);
}


.popular .box-container .box h3{
  color:#333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

@media(max-width:768px){
  .popular .section-work-data .grid{
    display:inline-block;
  }

  .popular .section-work-data .grid  h2 {
    padding-top: 36px;
  }

  
}


/* ----------about hacakthon------------ */
.about_hackathon h1{
  font-size: 45px;
}

.about_hackathon .sub-heading{
  font-size: 30px;
  padding: 25px;
  color:rgb(74, 74, 74);
  text-align: center;
  
}

.about_hackathon .sub-heading::after{
  content: ' ';
  width: 10%;
  height: 4px;
  background: var(--red);
  border-radius: 3px;
  display: block;
  margin: auto;
  
}



.about_hackathon .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.about_hackathon .box-container .box{
  background: transparent;
  text-align: justify;
  flex:50rem;
  position: relative;
  font-size: 18px;
  margin-left: -70px;
}


.about_hackathon .box-container .box img{
  height: 40rem;
  width:130%;
  transition: transform .3s;
  overflow: visible;
  margin-left: 0;

}

/* .about_hackathon .box-container .box img:hover{
  transform: scale(1.1);
} */


.about_hackathon .box-container .box h3{
  color:#333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.about_hackathon .list{
  font-size: 18px;
  padding-top: 20px;
  padding-left: 40px;
}

.about_hackathon .list li{
  list-style-type: "➡️";
  padding: 10px;
}

@media(max-width:1310px){
  .about_hackathon .box-container .box img{
    width:90%;
  
  }
}

@media(max-width:1000px){
  .about_hackathon .box-container .box{
    
    margin-left: 0px;
  }

  .about_hackathon .box-container .box img{
    width:90%;
  
  }
}

@media(max-width: 510px){
  .about_hackathon .box-container .box img{
    width: 100%;
  
  }
}


/* --------- about hacathon end -------- */



/* -------------------participant start------------------ */
.student h1{
  font-size: 45px;
}

.student .sub-heading{
  font-size: 30px;
  padding: 25px;
  color:rgb(74, 74, 74);
  text-align: center;
  
}


.student .sub-heading::after{
  content: ' ';
  width: 10%;
  height: 4px;
  background: var(--red);
  border-radius: 3px;
  display: block;
  margin: auto;
  
}

.student .quote{
  font-size: 40px;
  text-align: center;
}


.student .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.student .box-container .box{
  /* padding:rem; */
  background: transparent;
  text-align: justify;
  flex:50rem;
  position: relative;
  font-size: 18px;
  margin-left: -70px;
}


.student .box-container .box img{
  height: 40rem;
  object-fit: cover;
  width:80%;
  margin-left: 200px;

}


.student .box-container .box h3{
  color:#333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.student .list{
  font-size: 18px;
  padding-top: 20px;
  padding-left: 40px;
}

.student .list li{
  list-style-type: "➡️";
  padding: 10px;
}

@media(max-width:1310px){
  .student .box-container .box img{
    height: 60rem;
    object-fit:fill;
    width:60%;
  
  }
}

@media(max-width:1000px){
  .student .box-container .box{
    margin-left: -5px;
  }

  .student .box-container .box img{
    width:80%;
    margin-left: 40px;
  
  }
 
}


/* -------------------participant end------------------ */



/* --------- about us start -------- */
.wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-container{
  width: 100%;
  min-height: 100vh;
  display: flex; 
}
.bg-1{
  flex: 1;
  background-color: var(--red);
}
.bg-2{
  flex: 1;
  background-color: #a5fcac;
}
.about-container{
  width: 85%;
  min-height: 80vh;
  position: absolute;
  background-color: white;
  box-shadow: 14px 14px 20px #6dad72;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px;
}
.image-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 500px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
}

.text-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 20px;
}

.text-container h1{
  font-size: 45px !important;
  padding: 20px 0px;
}

.text-container h1 span{
  font-size: 45px !important;
  color: var(--red);
  padding: 20px 0px;
}

@media screen and (max-width: 1600px){
  .about-container{
      width: 90%;
  }
  .image-container img{
      width: 400px;
      height: 400px;
  }
  .text-container h1{
      font-size: 50px;
  }
}

@media screen and (max-width: 1100px){
  .about-container{
      flex-direction: column;
  }
  .image-container img{
      width: 300px;
      height: 300px;
  }
  .text-container {
      align-items: center;
  }
}

@media screen and (max-width: 750px){
  .about-container{
      flex-direction: column;
  }
  .image-container img{
      width: 250px;
      height: 250px;
  }
  .text-container {
      align-items: center;
  }
  .text-container h1{
    font-size: 40px;
}
}

/* --------------footer start----------------- */
.footer{
  background:#000;
  text-align: center;
}

.footer .share{
  display: flex;
  gap:1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .credit{
  padding:2.5rem 1rem;
  color:#fff;
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--red);
}

/* --------------footer end----------------- */

#scroll-top{
  position: fixed;
  top:-120%;
  right:2rem;
  padding:.5rem 1.5rem;
  font-size: 4rem;
  background:var(--red);
  color:#fff;
  border-radius: .5rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active{
  top:calc(100% - 12rem)
}

/* ----------loader-------------- */
.loader-container{
  position: fixed;
  top:0; left:0; 
  z-index: 10000;
  background:rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.loader-container img{
  width: 400px;
}

.loader-container.fade-out{
  top:-120%;
}



/* media queries  */

@media(max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }



}

@media(max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    background: #f7f7f7;
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    margin: 1.5rem;
    padding:1.5rem;
    display: block;
    border:.2rem solid rgba(0,0,0,.1);
    border-left:.5rem solid var(--red);
    background:#fff;
  }

}

@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .order .row form .inputBox input{
    width:100%;
  }

  .home .content h1{
    font-size: 3rem;
  }

}